<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-game-control (intervalFired)="onIntervalFire($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
      <app-even *ngFor="let even of evenNumbers" [numberEven]="even"></app-even>
    </div>
  </div>
</div>
